.title-bar {
  background: white;
  padding: 1em;
  overflow: hidden;

  h1 {
    font-size: 1em;
    float: left;
  }

  .about {
    float: right;
    font-size: 0.8em;
  }

  p {
    float:right;
    font-size: 0.8em;
    margin-right: 1em;
  }



}
